{
    "backends":[
        {
            "backend":"google",
            "link":"{{ url('social:begin', backend="google-oauth2") }}"
        },
        {
            "backend":"facebook",
            "link":"{{ url('social:begin', backend="google-oauth2") }}"
        },
        {
            "backend":"twitter",
            "link":"{{ url('social:begin', backend="google-oauth2") }}"
        }
    ]
}
