# Django
Django
django-jinja
django-debug-toolbar
django-subdomains
django-tastypie
django-extensions
django-jwt-auth
django-cors-headers
djangorestframework

# Python
python-social-auth
python-jose

# 3-rd party
Jinja2
easy_thumbnails
humanize

# neo4j
py2neo==2.*
neomodel
