<div ng-if class="menu">
    <div class="btn btn-default" ng-click="new()">New</div>
    <div class="btn btn-default loadFile">
        <span>Load File</span>
        <input id="uploadFile" name="uploadFile" type="file" change-file="load">
    </div>
    <div class="downloadWrap">
        <input class="fileName" type="text" ng-model="fileName">
        <div class="btn btn-default" ng-click="save()">Save</div>
        <div id="downloadLinkWrap"></div>
    </div>
</div>
<button class="btm btn-default " ng-click="export('png')">Save as PNG</button>
<button class="btm btn-default " ng-click="export('jpg')">Save as JPG</button>
<button class="btm btn-default " ng-click="export('pdf')">Save as PDF</button>
<button class="btm btn-default" ng-click="export('svg')">Save as SVG</button>
<div class="mindMap"></div>
