<div id="mediaHere" class="media-container">
    <div class="media-actions">
        <div class="actions">
            <i class="glyphicon glyphicon-th-list btn btn-default" 
                ngf-select="$ctrl.selectFiles($files)"  
                accept="image/*,video/*,audio/*"
                multiple></i>

            <i class="glyphicon glyphicon-upload btn btn-default" 
                ng-click="$ctrl.uploadFiles()"></i>

            <i class="glyphicon glyphicon-trash btn btn-default" 
                ng-click="$ctrl.clearPreview()"></i>
        </div>
    </div>
    <div class="media-control col-md-6 col-xs-6 col-lg-6 col-sm-6" ng-repeat="pFile in $ctrl.filesToPreview">
        <div class="inner-container img-thumbnail">
            <audio class="media-preview" ng-if="pFile.type === 'audio'" ng-src="{{pFile.src}}" controls="true"></audio>
            <video class="media-preview" ng-if="pFile.type === 'video'" ng-src="{{pFile.src}}" controls="true"></video>
            <img class="media-preview" ng-if="pFile.type === 'image'" ng-src="{{pFile.src}}"></img>
            <i class="delete-file glyphicon glyphicon-remove btn btn-default" ng-click="$ctrl.deleteFile(pFile, $index)"></i>
        </div>
    </div>
</div>
<!-- <button class="btn btn-default" ngf-select="$ctrl.selectFiles($files)" multiple accept="image/*,video/*,audio/*">Select Files</button>
<button class="btn btn-default" ng-click="$ctrl.clearPreview()">X</button>
<button class="btn btn-default" ng-click="$ctrl.uploadFiles()">Upload Files</button> -->
