<div id="mediaHere" class="media-container">
    <div class="media-control col-md-6" ng-repeat="pFile in $ctrl.filesToPreview">
        <div class="inner-container img-thumbnail">
            <audio class="media-preview" ng-if="pFile.type === 'audio'" ng-src="{{pFile.src}}" controls="true"></audio>
            <video class="media-preview" ng-if="pFile.type === 'video'" ng-src="{{pFile.src}}" controls="true"></video>
            <img class="media-preview" ng-if="pFile.type === 'image'" ng-src="{{pFile.src}}"></img>
            <i class="delete-file glyphicon glyphicon-remove btn btn-default" ng-click="$ctrl.deleteFile(pFile, $index)"></i>
        </div>
    </div>
</div>
<button ngf-select="$ctrl.selectFiles($files)" multiple accept="image/*,video/*,audio/*">Select Files</button>
<button class="btn btn-default" ng-click="$ctrl.clearPreview()">X</button>
<button class="btn btn-default" ng-click="$ctrl.uploadFiles()">Upload Files</button>
